<a href="https://colab.research.google.com/github/PhucNguyenZed/AdvancedPythonProgramming/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Two of Pythonâ€™s built-in functions are min and max. In the Python shell,
execute the following function calls:

In [ ]:
min(2, 3, 4)

2

In [ ]:
 max(2, -3, 4, 7, -5)

7

In [ ]:
 max(2, -3, min(4, 7), -5)

4

2. For the following function calls, in what order are the 
subexpressions evaluated?

In [ ]:
 min(max(3, 4), abs(-5))

4

In [ ]:
 abs(min(4, 6, max(2, 8)))

4

In [ ]:
 round(max(5.572, 3.258), abs(-2))

5.57

3. Following the function design recipe, define a function that has one
parameter, a number, and returns that number tripled

In [ ]:
def triple(num):
  return num * 3
triple(3)

9

4. Following the function design recipe, define a function that has two
parameters, both of which are numbers, and returns the absolute value
of the difference of the two. Hint: Call built-in function abs

In [ ]:
def absolute_difference(number1, number2):
  return abs(number1 - number2)
absolute_difference(3, 7)

4

5. Following the function design recipe, define a function that has one
parameter, a distance in kilometers, and returns the distance in miles.
(There are 1.6 kilometers per mile.)

In [ ]:
def km_to_miles(km):
  return km / 1.6
km_to_miles(5)

3.125

6. Following the function design recipe, define a function that has three
parameters, grades between 0 and 100 inclusive, and returns the average
of those grades

In [ ]:
def average_grade(grade1, grade2, grade3):
  return (grade1 + grade2 + grade3) / 3
average_grade(80, 95, 90)

88.33333333333333

7. Following the function design recipe, define a function that has four
parameters, all of them grades between 0 and 100 inclusive, and returns
the average of the best 3 of those grades. Hint: Call the function that you
defined in the previous exercise.

In [ ]:
def top_three_avg(grade1, grade2, grade3, grade4):
   total = grade1 + grade2 + grade3 + grade4
   top_three = total - min(grade1, grade2, grade3, grade4)
   return top_three / 3
   return max(average_grade(grade1, grade2, grade3),
    average_grade(grade1, grade2, grade4),
    average_grade(grade1, grade3, grade4),
    average_grade(grade2, grade3, grade4))
   return (grade1 + grade2 + grade3) / 3
top_three_avg(50, 60, 70, 80)

70.0

8. Complete the examples in the docstring and then write the body of the
following function:

In [ ]:
def weeks_elapsed(day1, day2):
    return (day1+day2)%7
weeks_elapsed(3,20)

2

9. Consider this code:

In [ ]:
def square(num):
  return num*3
square(3)

9